<!DOCTYPE html>
<html>
  <head>
    <title><%= full_title(yield(:title)) %></title>
  </head>
  <body>
	<div class="center hero-unit">
  <h1>Welcome to Study Bug!</h1>

  <h2>
    Stay on top of your homework,
    Keep updated on your classmates,
    Get the best grades!<br>
    An online social tool to help students in the classroom
  </h2>

  <%= link_to "Sign up now!", signup_path, class: "btn btn-large btn-primary" %>
</div>
</html>